<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一家依-职位列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="http://ttsstatic.qiniudn.com/jquery/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="__STATIC__/js/jquery.masonry.min.js"></script>
    <link rel="alternate icon" type="image/png" href="__STATIC__/img/logo.png">
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>

</head>
<body>
<div class="job-list-container">
    <div class="job-list-header">职位</div>
    <div class="job-list-content">
        <volist name="data" id="vo">
            <div class="job-list-line">
                <div class="job-list-title">{$vo.job}</div>
                <div class="job-list-info">
                    <div class="job-list-need">工资：{$vo.salary}</div>
                </div>
                <div class="job-list-info">
                    <div class="job-list-need">招聘人数：{$vo.number}人</div>
                </div>
                <div class="job-list-info">
                    <div class="job-list-need">发布时间:{$vo.time}</div>
                </div>
                <div class="job-list-info">
                    <div class="job-list-need">职位描述:{$vo.describe}</div>
                </div>

                <div class="job-list-detail-btn">
                    <button class="am-btn am-btn-success am-round"><a href="/admin/job/introduction/pid/{$vo.id}/id/<?php echo session('authed');?>">查看详细信息</a></button>
                </div>
            </div>
        </volist>



    </div>
    <div class="job-list-footer">

    </div>
</div>
<include file="public/footer"/>
</body>
</html>