<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一家依-我的钱包</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="__STATIC__/js/jquery.min.js"></script>

    <link rel="alternate icon" type="image/png" href="__STATIC__/img/logo.png">
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>

</head>
<body class="job-list-container">
<div class="job-list-container">
    <div class="job-list-header">我的钱包</div>
    <div class="job-list-line ">
        <div class="job-list-info">
            <div class="my-under-line-title" id="base-commission-title" page="1">基础佣金：￥{$basic_fee_sum}</div>
        </div>
        <div class="my-under-line-container">
            <div class="my-under-line-container-header am-g">
                <div class="am-u-sm-2">姓名</div>
                <div class="am-u-sm-3">入职日期</div>
                <div class="am-u-sm-3">上岗日期</div>
                <div class="am-u-sm-2">佣金1</div>
                <div class="am-u-sm-2">佣金2</div>
            </div>
            <div id="basic-commission-container">
                <volist name="basic_fee_info" id="B">
                    <div class="my-under-line-container-content am-g">
                        <div class="am-u-sm-2">{$B.user_name}</div>
                        <div class="am-u-sm-3">{$B.date_beigin_to_work}</div>
                        <div class="am-u-sm-3">{$B.date_begin_on_work}</div>
                        <div class="am-u-sm-2">{$B.fee1}</div>
                        <div class="am-u-sm-2">{$B.fee2}</div>
                    </div>
                </volist>
            </div>

        </div>

        <div class="job-list-detail-btn">
            <button class="am-btn am-btn-success am-round">基础佣金</button>
        </div>
    </div>

    <div class="job-list-line ">
        <div class="job-list-info">
            <div class="my-under-line-title" id="extral-commission-title" page="1">额外佣金：￥{$extral_fee_sum}</div>
        </div>
        <div class="my-under-line-container">
            <div class="my-under-line-container-header am-g">
                <div class="am-u-sm-3">姓名</div>
                <div class="am-u-sm-3">入职日期</div>
                <div class="am-u-sm-3">上岗日期</div>
                <div class="am-u-sm-3">佣金</div>
            </div>
            <div id="extral-commission-container">
                <volist name="extral_fee_info" id="B">
                    <div class="my-under-line-container-content am-g">
                        <div class="am-u-sm-3">{$B.user_name}</div>
                        <div class="am-u-sm-3">{$B.date_beigin_to_work}</div>
                        <div class="am-u-sm-3">{$B.date_begin_on_work}</div>
                        <div class="am-u-sm-3">{$B.fee}</div>
                    </div>
                </volist>
            </div>

        </div>

        <div class="job-list-detail-btn">
            <button class="am-btn am-btn-success am-round" >额外佣金</button>
        </div>
    </div>

    <div class="job-list-line ">
        <div class="job-list-info">
            <div class="my-under-line-title" id="payed-commission-title" page="1">已支付佣金：￥{$payed_fee_sum}</div>
        </div>
        <div class="my-under-line-container">
            <div class="my-under-line-container-header am-g">
                <div class="am-u-sm-3">姓名</div>
                <div class="am-u-sm-3">入职日期</div>
                <div class="am-u-sm-3">上岗日期</div>
                <div class="am-u-sm-3">佣金</div>
            </div>
            <div id="payed-commission-container">
                <volist name="payed_fee_info" id="B">
                    <div class="my-under-line-container-content am-g">
                        <div class="am-u-sm-3">{$B.user_name}</div>
                        <div class="am-u-sm-3">{$B.date_beigin_to_work}</div>
                        <div class="am-u-sm-3">{$B.date_begin_on_work}</div>
                        <div class="am-u-sm-3">{$B.fee}</div>
                    </div>
                </volist>
            </div>

        </div>

        <div class="job-list-detail-btn">
            <button class="am-btn am-btn-success am-round" >已支付佣金</button>
        </div>
    </div>


</div>
<div class="job-list-footer">
</div>
</div>
<include file="public/footer"/>

</body>
</html>