<!DOCTYPE html>
<!-- 填写简历 -->
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>一家依</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <script src="http://ttsstatic.qiniudn.com/jquery/jquery-2.1.1.min.js"></script>
  <link rel="alternate icon" type="image/png" href="__STATIC__/img/logo.png">
  <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__STATIC__/css/common.css"/>
</head>
<body>
<div class="intorduction_body">
  <div class="header header_title" style="margin-bottom:10px;"> 
  <h2>填写你的简历信息</h2>
  </div>
  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <form class="am-form am-form-horizontal">
        <div class="am-input-group">
          <span class="am-input-group-label">*你的姓名</span>
          <input type="email" id="name" class="am-form-field" placeholder="输入你的姓名">
        </div>
        </br>
        <div class="am-input-group">
          <span class="am-input-group-label">*手机号码</span>
          <input type="email" id="phone" class="am-form-field" placeholder="输入你的手机号码">
        </div>
        </br>
        <div class="am-input-group">
          <span class="am-input-group-label">邮件地址</span>
          <input type="email" id="email" class="am-form-field" placeholder="输入你的电子邮件">
        </div>
        </br>
        <div class="am-input-group">
          <span class="am-input-group-label">*你的年龄</span>
          <input type="number" id="age" class="am-form-field" placeholder="你的年龄">
        </div>
        <div class="am-form-group">
          <label for="doc-select-1">被推荐人性别</label>
          <select id="sex">
            <option value="1">男</option>
            <option value="2">女</option>      
          </select>       
        </div>
        <div class="am-form-group">
          <label for="doc-select-1">*选择你的学历</label>
          <select id="degree">
            <option value="1">中专以下</option>
            <option value="2">中专</option>
            <option value="3">大专</option>
            <option value="4">本科</option>
            <option value="5">本科以上</option>          
          </select>       
        </div>

        <div class="am-form-group">
          <label for="doc-ta-1">个人简介（可不填）</label>
          <textarea class="" rows="5" id="about"></textarea>
        </div>
      </form>
      <hr>
      <p style="text-align:center">© 2015 版权所有 一家依</p>
    </div>
  </div>
  <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" >
    <div class="am-list-news-ft">
      <a class="am-btn am-btn-success am-round" id="resume" style="color:#fff" href="###">提&nbsp;&nbsp;交&nbsp;&nbsp;信&nbsp;&nbsp;息</a>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">    
  function isMobile(phonenumber){  
    var mobileReg =/^1[358]\d{9}$/;            
    if (!mobileReg.test(phonenumber)){  
        return false;  
    }else{  
        return true;  
    }  
  }
  function resume(){
    var name        =document.getElementById("name").value;
    var phone       =document.getElementById("phone").value;
    var email       =document.getElementById("email").value;
    var age         =document.getElementById("age").value;
    var degree      =$("#degree option:selected").text();
    var sex         =$("#sex option:selected").text();
    var about       =document.getElementById("about").value;
    var position_id = {$position_id};
    if(phone==''){
      alert("手机号码不能为空");
    }
    else if(isMobile(phone)==''){
      alert("请输入正确的手机号码");
    }
    else if(name==''||phone==''||age==''||degree==''){
      alert('请完整填写信息,带*为必填项');
    }else{
      $.post('/admin/job/new_resume', {
          'name'        : name,
          'phone'       : phone,
          'email'       : email,
          'age'         : age,
          'degree'      : degree,
          'about'       : about,
          'sex'         :sex,
          'position_id' : position_id,
        }, function(response) {
          if (response.msg == 'ok') {
            window.location.href = '/admin/job/look_resume/id/' + response.re_id +'/pid/'+position_id;
          }
          else if (response.msg == 'false') {
            alert('操作失败');
          }
          else{
            alert('系统繁忙，请稍后再试');
          }
        }, "json").always(function() {});
        return false;
    }
  }
  $(document).ready(function() {
  });
  document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    WeixinJSBridge.call('hideOptionMenu');
  });
  $("#resume").on("click", resume);
</script>
</html >